.main {
    background: #c4c4c4;
    color: #242331;
    padding: 30px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.main h1 {
    text-align: center;
}


